---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente",
    title: "Analista de Soporte TI",
    company: "Ingeneo S.A.S",
    description:
      "Responsable de implementar flujos de chatbot, soporte tecnico de primer nivel, y mantenimiento de sistemas internos. Colaboración con equipos de desarrollo para mejorar la eficiencia operativa y la experiencia del usuario.",
    link: "https://ingeneo.com.co/",
  },
  {
    date: "Enero 2026",
    title: "Practicante en Analisis y Desarrollo de Software",
    company: "Ingeneo S.A.S",
    description:
      "Desarrollo y Soporte de aplicaciones web utilizando tecnologías robustas como Angular, Laravel y bases de datos SQL. Implementando prácticas de SCRUM para mejorar la eficiencia del equipo y la calidad del software entregado.",
  },
  {
    date: "Junio 2025",
    title: "Desarrollador Freelance",
    company: "Freelance",
    description:
      "Responsable de la creación y desarrollo de aplicaciones web. Montaje y despliegue de aplicaciones en servidores y con tecnologias como docker y wordpress. Colaboración directa con clientes para entender sus necesidades y entregar soluciones personalizadas.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
